<div class="main-content list-customer">
  <div class="container">
    <button  type="button" routerLink="/creat-students" class="btn btn-primary block">Create Customer</button>
    <div class="row">

      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h1 class="card-title studentsdata" style="align-content: center">Students Data</h1>
            <p class="card-category"> Get Information</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                <th *ngFor="let Header of Headers">
                 {{Header}}
                </th>
               
                </thead>
                <tbody>
                <tr *ngFor="let data of tableData, let i=index">
                  <td>
                    <span>{{i}}</span>
                  </td>
                  <td>
                    <span>{{data.userName}}</span>
                  </td>
                  <td>
                    <span>{{data.lastName}}</span>
                  </td>
                  <td>
                    <span>{{data.email}}</span>
                  </td>
                  <td>
                    <span>{{data.city}}</span>
                  </td>
                  <td>
                    <span>{{data.address}}</span>
                  </td>
                  <td>
                    <span>{{data.country}}</span>
                  </td>
                  <td>
                    <span>{{data.postalcode}}</span>
                  </td>
                
                  <td>
                    <button style="margin: 10px"  type="button" class="btn btn-danger" >Delete</button>
                    <button   type="button" class="btn btn-secondary" (click)='UpdateCustomers()'>Edit</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>