<div class="main-content list-customer">
  <div class="container">
    <button  type="button" routerLink="/creat-students" class="btn btn-primary block">Create Customer</button>
    <div class="row">

      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h1 class="card-title studentsdata" style="align-content: center">Students Data</h1>
            <p class="card-category"> Get Information</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                <th >
                  S.no
                </th>
                <th >
                  Username
                </th>
                <th >
                  Firstname
                </th>
                <th >
                  Lastname
                </th>
                <th >
                  Email
                </th>
                <th >
                  Adress
                </th>
                 <th >
                  Postal code
                </th>
                <th >
                  Country
                </th>
                </thead>
                <tbody>
                <tr >
                  <td>
                    <span>1</span>
                  </td>
                  <td>
                    <span>rajae</span>
                  </td>
                  <td>
                    <span>rajae</span>
                  </td>
                  <td>
                    <span>farhane</span>
                  </td>
                  <td>
                    <span>rajae19beddi@gmail.com</span>
                  </td>
                  <td>
                    <span>9 rue jean giraudoux </span>
                  </td>
                  <td>
                    <span>21850</span>
                  </td>
                  <td>
                    <span>France</span>
                  </td>
                  <td>
                    <button style="margin: 10px"  type="button" class="btn btn-danger">Delete</button>
                    <button   type="button" class="btn btn-secondary">Edit</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>